.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__title {
  color: var(--clr-light);
  font-size: var(--size-2xl);
}
.about__description {
  max-width: 60ch;
  color: var(--clr-slate600);
  font-size: var(--size-s);
}
.about__line {
  border-color: var(--clr-slate800);
}
.about__subtitle {
  color: var(--clr-slate400);
  font-size: var(--size-base);
}
.about__ul-container {
  display: flex;
}
.about__ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: "\1F44D";
  padding-left: 1rem;
  flex: 1;
}
.about__listItem {
  color: var(--clr-slate600);
  font-size: var(--size-s);
}
.about__listItem::before {
  content: "";
  margin-right: 0.5em;
}
.about__img {
  width: 28rem;
}
.about__img-wrapper {
  display: flex;
  justify-content: flex-end;
}

/* xs */
@media (min-width: 475px) {
  .about {
    gap: 1.5rem;
  }
  .about__content {
    gap: 1.5rem;
  }
  .about__title {
    font-size: var(--size-3xl);
  }
  .about__description {
    font-size: var(--size-base);
  }
  .about__subtitle {
    font-size: var(--size-lg);
  }
  .about__listItem {
    font-size: var(--size-base);
  }
}
/* s */
@media (min-width: 640px) {
  .about__img {
    width: 28rem;
  }
}

/* m */
/* @media (min-width: 768px) {} */

/* l */
@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .about__title {
    font-size: var(--size-4xl);
  }
  .about__description {
    font-size: var(--size-lg);
  }
  .about__subtitle {
    font-size: var(--size-xl);
  }
  .about__listItem {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .about {
    gap: 2rem;
  }
  .about__content {
    gap: 2rem;
  }
  .about__title {
    font-size: var(--size-5xl);
  }
  .about__description {
    font-size: var(--size-xl);
  }
  .about__subtitle {
    font-size: var(--size-2xl);
  }
  .about__listItem {
    font-size: var(--size-xl);
  }
  .about__img {
    width: 30.75rem;
  }
  .about__img-wrapper {
    justify-content: center;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
